PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/nf2p
NODE_ENV=development
JWT_SECRET=JWT_SECRET=your_very_long_random_secret_here

# EMAIL_USERNAME=bapitawork@gmail.com
# EMAIL_PASSWORD=getnxkiacfvcwtiy
EMAIL_USERNAME=your_gmail
EMAIL_PASSWORD=your_gmail_app_password

#Redis
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379